@import "../palette.css";

.bar {
  position: absolute;
  left: 0;
  top: -5px;
  height: 5px;
  width: 100%;
  background-color: var(--colorSuccess);
}

.selected {
  & .bar {
    top: 0;
    animation: fadeInColor 300ms;
  }
}

.wasSelected {
  composes: selected;

  & .bar {
    top: -5px;
    animation: fadeOutColor 300ms;
  }
}

@keyframes fadeInColor {
  0% {
    top: -5px;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeOutColor {
  0% {
    top: 0;
  }

  100% {
    transform: translateY(-5px);
  }
}
