@import "../palette.css";

.container {
  cursor: pointer;
  border: 2px solid var(--almostBlack);
  color: var(--almostBlack);
  transition: var(--longTransition);
  padding: 10px;
  border-radius: 100px;
  display: inline-block;
  font-size: 16px;
  background-color: var(--textColorPrimary);

  &:hover {
    background-color: var(--colorTransparentBlack);
  }
}

.children {
  & i {
    margin-left: 5px;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
