.container {
  margin-top: 25px;

  &:first-child {
    margin-top: 0;
  }
}

.date {
  margin-bottom: 10px;
  display: inline-block;
}

.resumeInfoContainer {
  padding-left: 30px;
  font-size: 14px;
}

.role {
  display: inline-block;
}
