@import "../palette.css";

.container {
  height: 73vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;

  @media only screen and (max-width: 550px) {
    align-items: center;
  }
}

.nameText {
  @media only screen and (min-width: 750px) {
    font-size: 100px !important;
  }

  @media only screen and (max-width: 550px) {
    text-align: center;
  }
}

.content {
  margin-top: calc(73vh + 100px);
  position: relative;
  background-color: var(--textColorPrimary);
}
