@import "../palette.css";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 100px 50px 0 50px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--almostBlack);
  color: var(--textColorPrimary);

  @media only screen and (max-width: 550px) {
    align-items: center;
  }
}

.nameText {
  @media only screen and (min-width: 750px) {
    font-size: 100px !important;
  }

  @media only screen and (max-width: 550px) {
    text-align: center;
  }
}

.content {
  position: relative;
  background-color: var(--textColorPrimary);
  margin: 100vh -50px -25px -50px;
  padding: 0 50px 25px 50px;
}
