@import "../../palette.css";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.group {
  display: flex;
  align-items: center;
}

.verticalGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.brushSizeContainer {
  composes: group;
  display: flex;
  align-items: center;

  & i {
    transition: var(--normalTransition);
    cursor: pointer;

    &:hover {
      color: var(--colorBlue);
    }
  }

  & > * {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
